

      {{!-- <a href="#login" class="active"></a>
      <a href="/employee/login">
        <button class="active">Login</button>
      </a>
      <a href="#payment" class="active"></a>
      <a href="/employee/payment">
        <button class="active">payment</button>
      </a>
      <div> --}}






{{!-- 

 <body background="https://png.pngtree.com/thumb_back/fh260/background/20220425/pngtree-delivery-taxi-service-with-smartphone-application-vector-image_1070287.jpg"></body>
<nav class="navbar navbar-expand-sm navbar-light bg-warning">
      <div class="container">
        <a class="navbar-brand" href="#"><h1>Cab Service Management</h1></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>






        
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li>
            </ul>
        </div>
  </div>
</nav> --}}
