<body>
     <img src=" https://thumbs.dreamstime.com/b/yellow-taxi-cab-mobile-application-phone-city-background-mobile-app-booking-service-flat-vector-yellow-taxi-cab-119944450.jpg" width="1000vw"height="700vh">
    <nav class="navbar navbar-expand-sm navbar-light bg-warning">
      <div class="container">
        <a class="navbar-brand" href="#"><h1>Welcome to Admin page</h1></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
               
                <li  class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Passengers</b></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                      
                        <a class="dropdown-item" href="/customerprofile">Passenger Details</a>
                    </div>
                </li>
                 <li  class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Cabs</b></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/cabs" class="active">Cab Details</a>
                        <a class="dropdown-item" href="/createcab">Add Cab Details</a>
                    </div>
                </li>

                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registerprofile" class="active"><b>Register Details</b></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/bookingindex" class="active"><b>Booking Details</b></a>
                </li>
                 </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" class="active"><b>Logout</b></a>
                </li>
</nav>

<style>.navbar {
 
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999; /* Full width */
}</style>
</body>
</html>

 





