<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-lg-5">
      <h6 class="text-muted">Available Cabs</h6> 
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
         {{!-- <button type="button" href="/booking" class="btn btn-primary">Book Now</button> --}}
          <a class="btn btn-primary" href="/booking" role="button">Book Now</a>

          <div class="image-parent">
           
             <img src="https://media.istockphoto.com/id/495605964/photo/generic-compact-red-car.jpg?s=612x612&w=0&k=20&c=eElEDukSWi6HsUPXflSebpUm7j9tPNq7WvFOGIlqgeA="class="img-fluid" alt="quixote">
             <h2><b>Maruthi Swift <br>Dzire A/C</b></h2>
          <h5> Seating Capacity : 4<br><br>
         Rate (INR) Per Day : 1700<br><br>
         Rate (INR) Additional KM : 15.00<br><br>
         Allowed KM per Day : 100</h5>
 {{!-- <li class="block">
                    <a class="block" href="/booking" class="active"><b>Book Now</b></a>
                </li>
          </div>
        </li> --}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="btn btn-primary" href="/booking" role="button">Book Now</a>
          <div class="image-parent">
             <img src="https://res.heraldm.com/phpwas/restmb_idxmake.php?idx=621&simg=/content/image/2017/01/04/20170104000686_0.jpg" class="img-fluid" alt="things">
               <h2><b>Maruthi Swift <br>Dzire A/C</b></h2>
          <h5> Seating Capacity : 4<br><br>
         Rate (INR) Per Day : 1700<br><br>
         Rate (INR) Additional KM : 15.00<br><br>
         Allowed KM per Day : 100</h5>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">  
           <a class="btn btn-primary" href="/booking" role="button">Book Now</a>
          <div class="image-parent">
             <img src="https://media.istockphoto.com/id/485428055/photo/side-view-studio-shot-of-white-mini-car.jpg?s=612x612&w=0&k=20&c=UwEMhW40q-euIRu-ItKmL12fskWHhs8VlT8ABxmhzZc=" class="img-fluid" alt="lay">
              <h2><b>Maruthi Swift <br>Dzire A/C</b></h2>
          <h5> Seating Capacity : 4<br><br>
         Rate (INR) Per Day : 1700<br><br>
         Rate (INR) Additional KM : 15.00<br><br>
         Allowed KM per Day : 100</h5>
        </li>
      </ul>
    </div>
  </div>
</div>