</li>
               
     <body>
        <h1 style="background-color:rgb(254, 252, 248);">Booked Sucessfully</h1>
        <img src="https://thebusinessworld.co.uk/wp-content/uploads/2022/09/Taxi-and-Cab-Booking-Apps-scaled.jpg"width="65%" height="65%">
     </body>  
        
                <li class="list-group-item d-flex justify-content-between align-items-center">
            <a class="btn btn-primary" href="/invoice/{{id}}" role="button">Show Invoice</a>