


{{!-- 
<div class="container">
  <div class="row"> --}}
    {{!-- <div class="col-12 col-sm-8 col-lg-5"> --}}
     <body>
        <h1 style="background-color:rgb(254, 252, 248);">Booked Sucessfully</h1>
        <img src="https://thebusinessworld.co.uk/wp-content/uploads/2022/09/Taxi-and-Cab-Booking-Apps-scaled.jpg"width="65%" height="65%">
     </body>  
        
      
             