<div class="container">
    <h1 class="text-center">Add Cab Details</h1>
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form method="post">
                <div>
                    <label for="name">Cab Name</label>
                    <input type="text" name="cabName" id="name" class="form-control">
                </div>
                <div>
                    <label for="director">Cab Type</label>
                    <input type="text" name="cabType" id="director" class="form-control">
                </div>
                <div>
                    <label for="releasedate">Cab Capacity</label>
                    <input type="text" name="cabCapacity" id="releasedate" class="form-control">
                </div>
                <div>
                    <label for="summary"->Cab Description</label>
                    <textarea name="cabDescription" id="summary" class="form-control"></textarea>
                </div>
                <div class="d-grid mt-4">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>