{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
     <img src="https://img.freepik.com/free-vector/taxi-app-concept_23-2148496604.jpg?w=2000" width="1250vw"height="580vh">
    <nav class="navbar navbar-expand-sm navbar-light bg-warning">
      <div class="container">
        <a class="navbar-brand" href="#"><h1>Welcome</h1></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cabbooking"><b>Book</b></a>
                </li>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/availablecabs" class="active"><b>Cabs</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customerprofile" class="active"><b>Profile</b></a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/logout" class="active"><b>Logout</b></a>
                </li> 
            </ul>
        </div>
  </div>
</nav>
<style>.navbar {
 
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999; /* Full width */
}</style>
</body>
</html>

 




