     <img src=" https://img.freepik.com/premium-vector/welcome-taxi-driver-cartoon-illustration_133260-2445.jpg?w=2000" width="1250vw"height="580vh">
    <nav class="navbar navbar-expand-sm navbar-light bg-warning">
      <div class="container">
        <a class="navbar-brand" href="#"><h1>Welcome</h1></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/driverprofile" class="active"aria-current="page"><b>Profile</b> <span class="visually-hidden">(current)</span></a>
                    <a href="#home" class="active"></a>
       <li class="nav-item">
                    <a class="nav-link" href="/bookingindex" class="active"><b>Booking Details</b></a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/cabs" class="active"><b>Cab Details</b></a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" class="active"><b>Logout</b></a>
                </li>
</nav>

<style>.navbar {
 
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999; /* Full width */
}</style>
</body>
</html>

 



