<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-warning">
      <div class="container">
        <a class="navbar-brand" href="#"><h1>Cab Service Management</h1></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/homepage" class="active"aria-current="page"><b>Home</b> <span class="visually-hidden">(current)</span></a>
                    <a href="#home" class="active"></a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register" class="active"><b>Register</b></a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/login" class="active"><b>Login</b></a>
                </li>
            </ul>
        </div>
  </div>
</nav>
<div>

    
    <video autoplay muted loop id="myVideo" width="100px" height="100px">
          <source src="new.mp4" type="video/mp4">
        </video>    
</div>
<style>.navbar {
 
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999; /* Full width */
}</style>
</body>
</html>




