<body style="background-color:rgba(255, 191, 0, 0.816);"></body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h1 class="text-center">Register</h1>
            <form method="post">
                <div>
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" placeholder="">
                </div>
                <div>
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" placeholder="">
                </div>
                <div>
                    <label for="role">Role</label>
                    <input type="text" name="role" id="role" class="form-control" placeholder="">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control">
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                    {{#if message}}
                        <p class="text-danger">{{message}}</p>
                    {{/if}}
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    body{
        width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
    
</style>